{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                {{!-- <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time> --}}
                {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
                {{author}}
                {{!-- {{tags prefix=" | "}} --}}
            </section>
        </header>

        <section class="post-content">
            <p><a class="request-quote-btn cta-btn" href="https://caseytravel.com/request-quote/?typeform-welcome=0">Request a quote for this trip</a></p>

            {{content}}

            <p><a class="request-quote-btn cta-btn" href="https://caseytravel.com/request-quote/?typeform-welcome=0">Request a quote for this trip</a></p>

            {{#has tag="Comments"}}
                <p><strong>Questions?</strong> Feel free to ask me anything in the comments below!</p>
            {{/has}}
        </section>

        <footer class="post-footer">

        {{!-- Everything inside the #author tags pulls data from the author --}}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p><a href="{{url}}">More trips</a> by this traveller.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="icon-link"><a class="trip-traveller-link" data-link-type="Website" href="{{website}}">{{website}}</a></span>{{/if}}
                    {{#if twitter}}<span><a class="trip-traveller-link icon-twitter" data-link-type="Twitter" href="{{twitter_url}}"></a></span>{{/if}}
                    {{#if facebook}}<span><a class="trip-traveller-link icon-facebook" data-link-type="Facebook" href="{{facebook_url}}"></a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="share">
                <h4>Share this trip</h4>

                <a class="share-btn twitter" data-method="Twitter" href="https://twitter.com/intent/tweet?text={{encode title}}{{encode " by "}}{{#if author.twitter}}{{author.twitter}}{{else}}{{encode author.name}}{{/if}}&amp;url={{url absolute="true"}}&via=CaseyTravel"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a class="share-btn facebook" data-method="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="share-btn pinterest" data-method="Pinterest" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{image absolute="true"}}&description={{encode title}}" data-pin-custom="true"
                onclick="window.open(this.href, 'pinterest-share','width=750,height=600');return false;">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>

                {{!-- <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a> --}}
            </section>

            <section class="gh-subscribe">
                <h3 class="gh-subscribe-title">Looking for a new adventure?</h3>
                <p>Receive an email once a week with a real and recommended trip.</p>
                <form method="post" action="//caseytravel.us13.list-manage.com/subscribe/post?u=25865618789c4a52920d573ff&amp;id=d3893ec3f7" class="form-subscribe" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
                    <div class="form-group">
                        <input id="mce-EMAIL" class="subscribe-email" type="email" name="EMAIL" placeholder="Type your email">
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_25865618789c4a52920d573ff_d3893ec3f7" tabindex="-1" value=""></div>
                    <button type="submit">Subscribe</button>
                </form>
                {{!-- <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span> --}}
            </section>

        </footer>

        {{#has tag="Comments"}}
            <div id="disqus_thread"></div>
            <script>
            var disqus_config = function () {
                this.page.url = '{{url absolute="true"}}';
                this.page.identifier = 'ghost-{{id}}';
            };
            
            (function() {
                var d = document, s = d.createElement('script');
                s.src = '//caseytravel.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {{/has}}

    </article>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
